In [ ]:
# Data Sources
## Data files saved in 'Data' folder

GDP by MSA – 2001 -2017 data ( MAGDP files)
Population, Per capita personal income  2001-2017 data by counties (CAIN30 file) (2001-2017)
2003- 2019 Airportwise passengers/flights data at https://www.transtats.bts.gov/Data_Elements.aspx?Data=1

Airquality data by counties
https://aqs.epa.gov/aqsweb/airdata/download_files.html#Annual (1980-2019)

In [1]:
import pandas as pd

# Collecting Air Quality indicators

In [2]:
import glob
import os

path = 'Data/AirQuality' # use correct path for Airquality folder
all_files = glob.glob(os.path.join(path, "*.zip"))

df_AirQ = pd.concat((pd.read_csv(f) for f in all_files))

In [3]:
df_AirQ = df_AirQ[['Year', 'State', 'County', 'Days with AQI','Good Days', 'Max AQI','90th Percentile AQI', 'Median AQI'] ]

In [4]:
df_AirQ.head()

,Year,State,County,Days with AQI,Good Days,Max AQI,90th Percentile AQI,Median AQI
0,2008,Alabama,Baldwin,265,210,133,68,37
1,2008,Alabama,Clay,110,70,93,61,43
2,2008,Alabama,Colbert,277,201,97,64,43
3,2008,Alabama,DeKalb,110,63,87,64,48
4,2008,Alabama,Elmore,245,180,105,74,42

In [5]:
df_AirQ.Year.unique()

array([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018],
      dtype=int64)

In [6]:
df_AirQ.State.unique(), df_AirQ.County.unique()[1:5]

(array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
        'Colorado', 'Connecticut', 'Country Of Mexico', 'Delaware',
        'District Of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
        'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
        'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
        'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
        'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
        'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
        'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina',
        'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
        'Virgin Islands', 'Virginia', 'Washington', 'West Virginia',
        'Wisconsin', 'Wyoming'], dtype=object),
 array(['Clay', 'Colbert', 'DeKalb', 'Elmore'], dtype=object))

In [7]:
df_Air = df_AirQ.loc[(df_AirQ.State == 'California') | (df_AirQ.State == 'New York') | (df_AirQ.State == 'New Jersey')]
df_Air.shape

(1112, 8)

In [8]:
LA_counties = ['Los Angeles', 'Orange']
SF_counties =['Alameda', 'Contra Costa', 'Marin', 'San Francisco', 'San Mateo']
NY_counties = ['Bergen', 'Essex', 'Hudson', 'Hunterdon', 'Middlesex', 'Monmouth',
              'Morris', 'Ocean', 'Passic', 'Somerset', 'Sussex', 'Union', 'Bronx', 'Dutchess',
              'Kings', 'Nasseu', 'New York', 'Orange', 'Putnam', 'Queens', 'Richmond',
              'Rockland', 'Suffolk', 'Westcher']

In [9]:
df_Air = df_Air[df_Air['County'].isin(LA_counties+ SF_counties+ NY_counties)]
df_Air.County.unique()

array(['Alameda', 'Contra Costa', 'Kings', 'Los Angeles', 'Marin',
       'Orange', 'San Francisco', 'San Mateo', 'Bergen', 'Essex',
       'Hudson', 'Hunterdon', 'Middlesex', 'Monmouth', 'Morris', 'Ocean',
       'Union', 'Bronx', 'Dutchess', 'New York', 'Putnam', 'Queens',
       'Richmond', 'Suffolk', 'Rockland'], dtype=object)

In [10]:
import numpy as np
conditions = [(df_Air['County'].isin(LA_counties)), (df_Air['County'].isin(SF_counties)), (df_Air['County'].isin(NY_counties))]
choices = ['LA_MSA', 'SF_MSA', 'NY_MSA']
df_Air['MSA'] =  np.select(conditions, choices)

In [11]:
df_Air.head()

,Year,State,County,Days with AQI,Good Days,Max AQI,90th Percentile AQI,Median AQI,MSA
56,2008,California,Alameda,366,182,205,83,51,SF_MSA
61,2008,California,Contra Costa,366,266,161,77,42,SF_MSA
70,2008,California,Kings,366,68,220,143,80,NY_MSA
72,2008,California,Los Angeles,366,31,227,172,84,LA_MSA
74,2008,California,Marin,363,347,97,44,31,SF_MSA

In [12]:
df_Air['% Good Days'] = 100* df_Air['Good Days']/df_Air['Days with AQI']

In [13]:
df_AirQuality = df_Air.pivot_table(index = ['MSA', 'Year'], values =['Good Days', 'Median AQI', '90th Percentile AQI', '% Good Days'], aggfunc = np.mean)
df_AirQuality.shape

(33, 4)

In [14]:
df_AirQuality.head()

             % Good Days  90th Percentile AQI   Good Days  Median AQI
MSA    Year
LA_MSA 2008    35.974499           115.666667  131.666667   63.333333
       2009    39.726027           103.333333  145.000000   58.333333
       2010    38.492019            96.333333  140.000000   57.333333
       2011    36.255708           100.000000  132.333333   59.000000
       2012    42.531876            97.666667  155.666667   58.000000

# Population and Per Capita Income

In [15]:
df_income_pop = pd.read_excel('Data/Population_Income/CAINC30__ALL_STATES_1969_2017.xlsx')

In [16]:
#Population (persons) 3/, Per capita personal income 4/


df_income = df_income_pop[df_income_pop.LineCode == 110]
df_population = df_income_pop[df_income_pop.LineCode == 100]
df_income.shape, df_population.shape

((3198, 57), (3198, 57))

In [17]:
df_income.tail(2)

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
99084,"""97000""",Rocky Mountain,7,CAINC30,110.0,...,Per capita personal income 4/,Dollars,3602,3956,...,38567,36273,37054,39569,41677,42701,45307,47053,47505,49265
99115,"""98000""",Far West,8,CAINC30,110.0,...,Per capita personal income 4/,Dollars,4570,4855,...,43214,41298,42636,44966,47451,47819,50787,53911,55550,57748

In [18]:
df_income[df_income.GeoName.str.contains("Orange, CA")]

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
7603,"""06059""","Orange, CA",8,CAINC30,110.0,...,Per capita personal income 4/,Dollars,4821,5074,...,50028,46813,49740,51469,55296,54594,57110,61178,62763,65400

In [19]:
LA_counties1 = ['Los Angeles, CA', 'Orange, CA']
SF_counties1 =['Alameda, CA', 'Contra Costa, CA', 'Marin, CA', 'San Francisco, CA', 'San Mateo, CA']
NY_counties1 = ['Bergen, NJ', 'Essex, NJ', 'Hudson, NJ', 'Hunterdon, NJ', 'Middlesex, NJ', 'Monmouth, NJ',
              'Morris, NJ', 'Ocean, NJ', 'Passic, NJ', 'Somerset, NJ', 'Sussex, NJ', 'Union, NY', 'Bronx, NY', 'Dutchess, NY',
              'Kings, NY', 'Nasseu, NY', 'New York, NY', 'Orange, NY', 'Putnam, NY', 'Queens, NY', 'Richmond, NY',
              'Rockland, NY', 'Suffolk, NY', 'Westcher, NY']

In [20]:
df_income = df_income[['GeoName',2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]]
df_population = df_population[['GeoName', 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]]
df_population.tail()

,GeoName,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
98990,Plains,20248815,20392583,20535719,20638502,20749482,20872827,20984812,21082599,21179519,21294107
99021,Southeast,77057840,77814936,78575213,79260002,79953925,80585268,81304675,82104601,82935602,83715076
99052,Southwest,36269039,36899289,37472786,37972888,38521426,39030404,39619086,40243759,40820143,41339800
99083,Rocky Mountain,10609537,10793888,10949084,11079489,11215355,11366966,11514638,11689105,11878018,12055738
99114,Far West,51608614,52167532,52686778,53176406,53679832,54161802,54695081,55249155,55772858,56250544

In [21]:
df_income = df_income[df_income['GeoName'].isin(LA_counties1+ SF_counties1+ NY_counties1)]
df_population = df_population[df_population['GeoName'].isin(LA_counties1+ SF_counties1+ NY_counties1)]

In [22]:
numeric = [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]
for year in numeric:
    df_income[year] = df_income[year].astype(int)
    df_population[year] = df_population[year].astype(int)
    
df_income.dtypes

GeoName    object
2008        int32
2009        int32
2010        int32
2011        int32
2012        int32
2013        int32
2014        int32
2015        int32
2016        int32
2017        int32
dtype: object

In [23]:
df_income.head()

,GeoName,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
6704,"Alameda, CA",48943,46330,48118,51247,53323,55378,58984,63809,67356,71282
6890,"Contra Costa, CA",58906,54242,54030,57681,61878,61435,64056,69195,72195,76527
7262,"Los Angeles, CA",43431,41869,43569,46439,49459,49010,52130,55366,56851,58419
7324,"Marin, CA",90711,82249,84002,90963,97274,98203,106548,114455,117552,124552
7603,"Orange, CA",50028,46813,49740,51469,55296,54594,57110,61178,62763,65400

In [24]:
import numpy as np
conditions1 = [(df_income['GeoName'].isin(LA_counties1)), 
              (df_income['GeoName'].isin(SF_counties1)), 
              (df_income['GeoName'].isin(NY_counties1))]

conditions2 = [(df_population['GeoName'].isin(LA_counties1)), 
              (df_population['GeoName'].isin(SF_counties1)), 
              (df_population['GeoName'].isin(NY_counties1))]

choices = ['LA_MSA', 'SF_MSA', 'NY_MSA']
df_income['MSA'] =  np.select(conditions1, choices)
df_population['MSA'] =  np.select(conditions2, choices)

In [25]:
df_income.head()

,GeoName,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,MSA
6704,"Alameda, CA",48943,46330,48118,51247,53323,55378,58984,63809,67356,71282,SF_MSA
6890,"Contra Costa, CA",58906,54242,54030,57681,61878,61435,64056,69195,72195,76527,SF_MSA
7262,"Los Angeles, CA",43431,41869,43569,46439,49459,49010,52130,55366,56851,58419,LA_MSA
7324,"Marin, CA",90711,82249,84002,90963,97274,98203,106548,114455,117552,124552,SF_MSA
7603,"Orange, CA",50028,46813,49740,51469,55296,54594,57110,61178,62763,65400,LA_MSA

In [26]:
dfi =df_income.pivot_table(index = ['MSA'], values = [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017], aggfunc = np.median )
dfp =df_population.pivot_table(index = ['MSA'], values = [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017], aggfunc = np.sum )

In [27]:
df_population

,GeoName,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,MSA
6703,"Alameda, CA",1477208,1498539,1513402,1532215,1556648,1582936,1611572,1637141,1653236,1663190,SF_MSA
6889,"Contra Costa, CA",1023344,1037890,1052799,1066182,1079093,1095310,1110971,1126027,1138645,1147439,SF_MSA
7261,"Los Angeles, CA",9735147,9787400,9824490,9885998,9956152,10018604,10072695,10123248,10150558,10163507,LA_MSA
7323,"Marin, CA",248398,250862,252940,255505,256381,258856,261007,261718,261532,260955,SF_MSA
7602,"Orange, CA",2957593,2987177,3017116,3053465,3085386,3113649,3136750,3160576,3177703,3190400,LA_MSA
7850,"San Francisco, CA",791152,801922,805770,816294,830406,841270,853258,866320,876103,884363,SF_MSA
7943,"San Mateo, CA",703830,713617,719899,729022,740644,750345,759156,766779,769561,771410,SF_MSA
56737,"Bergen, NJ",895328,900319,906879,914233,921035,927202,933348,938255,942387,948406,NY_MSA
56892,"Essex, NJ",778165,781943,784694,787414,788942,792560,797078,800206,803876,808285,NY_MSA
56954,"Hudson, NJ",619533,628572,636345,648619,658909,667066,673773,679907,686391,691643,NY_MSA
56985,"Hunterdon, NJ",128449,128364,127335,127365,126731,126590,126129,125747,125061,125059,NY_MSA
57047,"Middlesex, NJ",799191,805204,811217,817589,824753,829991,835335,838332,839986,842798,NY_MSA
57078,"Monmouth, NJ",627348,628669,630644,629757,629037,628968,628236,627418,626782,626351,NY_MSA
57109,"Morris, NJ",489743,490779,492902,495671,497447,498680,498481,498538,498844,499693,NY_MSA
57140,"Ocean, NJ",569485,573123,577621,579162,580589,583090,585810,588707,592944,597943,NY_MSA
57233,"Somerset, NJ",318856,321564,324248,326597,328588,331029,332345,333399,334373,335432,NY_MSA
57264,"Sussex, NJ",150145,149487,148818,148166,147045,145768,144811,143302,142288,141682,NY_MSA
58504,"Bronx, NY",1363488,1376261,1388122,1400899,1417864,1432881,1445800,1460412,1468976,1471160,NY_MSA
58845,"Dutchess, NY",296267,296887,297751,298361,297423,296922,296058,295309,294567,295568,NY_MSA
59155,"Kings, NY",2460361,2487751,2510842,2546662,2579267,2605783,2626644,2643546,2650859,2648771,NY_MSA
59372,"New York, NY",1587022,1583431,1589217,1611550,1630367,1638790,1646521,1657183,1662164,1664727,NY_MSA
59527,"Orange, NY",370201,372079,373490,374341,374183,375151,376034,377544,379915,382226,NY_MSA
59651,"Putnam, NY",99537,99666,99670,99859,99723,99751,99667,99473,99107,99323,NY_MSA
59682,"Queens, NY",2193623,2217166,2235764,2262013,2284413,2307766,2328004,2346005,2356044,2358582,NY_MSA
59744,"Richmond, NY",463701,466965,469758,471564,471593,473422,474166,475313,477383,479458,NY_MSA
59775,"Rockland, NY",305413,308652,312552,315904,318065,320664,323072,325655,326875,328868,NY_MSA
60023,"Suffolk, NY",1480218,1487206,1494689,1500074,1499272,1501103,1500638,1498947,1494334,1492953,NY_MSA

In [28]:
dfi = dfi.T
dfp = dfp.T

In [29]:
dfi = dfi.reset_index()
dfp = dfp.reset_index()
dfi['MSA'] = 'LA_MSA'
dfp['MSA'] = 'LA_MSA'
dfi.head()

MSA  index   LA_MSA   NY_MSA   SF_MSA     MSA
0     2008  46729.5  48880.5  75468.0  LA_MSA
1     2009  44341.0  47343.0  71694.0  LA_MSA
2     2010  46654.5  48082.0  73739.0  LA_MSA
3     2011  48954.0  50679.0  79872.0  LA_MSA
4     2012  52377.5  52804.0  87986.0  LA_MSA

In [30]:
dfi1 = dfi[['index', 'LA_MSA']]
dfp1 = dfp[['index', 'LA_MSA']]
dfi2 = dfi[['index', 'SF_MSA']]
dfp2 = dfp[['index', 'SF_MSA']]
dfi3 = dfi[['index', 'NY_MSA']]
dfp3 = dfp[['index', 'NY_MSA']]
dfi1.columns  = ['Year', 'Per Capita Income']
dfi2.columns  = ['Year', 'Per Capita Income']
dfi3.columns  = ['Year', 'Per Capita Income']
dfp1.columns  = ['Year', 'Population']
dfp2.columns  = ['Year', 'Population']
dfp3.columns  = ['Year', 'Population']
dfi1['MSA'] = 'LA_MSA'
dfi2['MSA'] = 'SF_MSA'
dfi3['MSA'] = 'NY_MSA'
dfp1['MSA'] = 'LA_MSA'
dfp2['MSA'] = 'SF_MSA'
dfp3['MSA'] = 'NY_MSA'

C:\Users\avise\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\avise\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\avise\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\avise\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\avise\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\avise\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [31]:
dfi = pd.concat([dfi1, dfi2, dfi3], axis =0)
dfi =dfi[['MSA', 'Year', 'Per Capita Income']]
dfp = pd.concat([dfp1, dfp2, dfp3], axis =0)
dfp =dfp[['MSA', 'Year', 'Population']]
dfi = dfi.set_index(['MSA', 'Year'], drop = True)
dfp = dfp.set_index(['MSA', 'Year'], drop = True)
dfp.head()

             Population
MSA    Year
LA_MSA 2008    12692740
       2009    12774577
       2010    12841606
       2011    12939463
       2012    13041538

# Airtraffic - Passengers boarding

In [32]:
import pandas as pd
import glob
import os

path_la = 'Data/Airtraffic/LA' 
all_files_la = glob.glob(os.path.join(path_la, "*.csv"))


path_sf = 'Data/Airtraffic/SF' 
all_files_sf = glob.glob(os.path.join(path_sf, "*.csv"))

path_ny = 'Data/Airtraffic/NY' 
all_files_ny = glob.glob(os.path.join(path_ny, "*.csv"))

df1la = pd.read_csv(all_files_la[0])
df2la = pd.read_csv(all_files_la[1])
df3la = pd.read_csv(all_files_la[2])

df1sf = pd.read_csv(all_files_sf[0])
df2sf = pd.read_csv(all_files_sf[1])
df3sf = pd.read_csv(all_files_sf[2])

df1ny = pd.read_csv(all_files_ny[0])
df2ny = pd.read_csv(all_files_ny[1])
df3ny = pd.read_csv(all_files_ny[2])

In [33]:
def transform(df):
    df = df.rename(columns=df.iloc[0])
    df.drop(0, inplace=True)
    df.columns = ['Year', 'Month', 'DOMESTIC', 'INTERNATIONAL', 'TOTAL']
    df = df[['Year', 'Month', 'TOTAL']]
    df['Passengers'] = df.TOTAL.str.replace(',', '').astype(float)
    df.drop('TOTAL', axis = 1, inplace = True)
    df = df[(df.Month == 'TOTAL') & (df.Year != '2019') & (df.Year != '2002') 
          & (df.Year != '2003')& (df.Year != '2004')& (df.Year != '2005')& 
          (df.Year != '2006')& (df.Year != '2007') ]
    
    return df

In [34]:
df1la = transform(df1la)
df2la = transform(df2la)
df3la = transform(df3la)
df_atraf_la = df1la
df_atraf_la['Passengers'] = df1la.Passengers+df2la.Passengers+df3la.Passengers
df_atraf_la['MSA'] = 'LA_MSA'
df_atraf_la.head(20)

df1sf = transform(df1sf)
df2sf = transform(df2sf)
df3sf = transform(df3sf)
df_atraf_sf = df1sf
df_atraf_sf['Passengers'] = df1sf.Passengers+df2sf.Passengers+df3sf.Passengers
df_atraf_sf['MSA'] = 'SF_MSA'
df_atraf_sf.head(20)

df1ny = transform(df1ny)
df2ny = transform(df2ny)
df3ny = transform(df3ny)
df_atraf_ny = df1ny
df_atraf_ny['Passengers'] = df1ny.Passengers+df2ny.Passengers+df3ny.Passengers
df_atraf_ny['MSA'] = 'NY_MSA'
df_atraf_ny.head(20)

     Year  Month  Passengers     MSA
82   2008  TOTAL  52866278.0  NY_MSA
95   2009  TOTAL  50476621.0  NY_MSA
108  2010  TOTAL  51424463.0  NY_MSA
121  2011  TOTAL  52355837.0  NY_MSA
134  2012  TOTAL  54229063.0  NY_MSA
147  2013  TOTAL  55995808.0  NY_MSA
160  2014  TOTAL  57497612.0  NY_MSA
173  2015  TOTAL  60916294.0  NY_MSA
186  2016  TOTAL  63798888.0  NY_MSA
199  2017  TOTAL  65634288.0  NY_MSA
212  2018  TOTAL  68431481.0  NY_MSA

In [35]:
df_Airtraffic = pd.concat([df_atraf_la, df_atraf_sf, df_atraf_ny])
df_Airtraffic['Year'] = df_Airtraffic['Year'].astype(int)
df_Airtraffic = df_Airtraffic.set_index(['MSA', 'Year'], drop = True)
df_Airtraffic.drop('Month', axis = 1, inplace = True)
df_Airtraffic

             Passengers
MSA    Year
LA_MSA 2008  36273289.0
       2009  34179598.0
       2010  35475341.0
       2011  37011731.0
       2012  37790767.0
       2013  38908822.0
       2014  40931688.0
       2015  43464589.0
       2016  46920468.0
       2017  48525247.0
       2018  50363107.0
SF_MSA 2008  28479144.0
       2009  27161820.0
       2010  28032599.0
       2011  28661968.0
       2012  30250725.0
       2013  30735736.0
       2014  32411808.0
       2015  34533303.0
       2016  36917676.0
       2017  39404268.0
       2018  41493480.0
NY_MSA 2008  52866278.0
       2009  50476621.0
       2010  51424463.0
       2011  52355837.0
       2012  54229063.0
       2013  55995808.0
       2014  57497612.0
       2015  60916294.0
       2016  63798888.0
       2017  65634288.0
       2018  68431481.0

# GDP by MSA

In [36]:
df_gdp = pd.read_csv('Data/GDP_MSA/MAGDP2_2001_2017_ALL_AREAS.csv')

In [37]:
df_gdp.GeoName.unique()

array(['United States (Metropolitan Portion)',
       'Abilene, TX (Metropolitan Statistical Area)',
       'Akron, OH (Metropolitan Statistical Area)',
       'Albany, GA (Metropolitan Statistical Area)',
       'Albany, OR (Metropolitan Statistical Area)',
       'Albany-Schenectady-Troy, NY (Metropolitan Statistical Area)',
       'Albuquerque, NM (Metropolitan Statistical Area)',
       'Alexandria, LA (Metropolitan Statistical Area)',
       'Allentown-Bethlehem-Easton, PA-NJ (Metropolitan Statistical Area)',
       'Altoona, PA (Metropolitan Statistical Area)',
       'Amarillo, TX (Metropolitan Statistical Area)',
       'Ames, IA (Metropolitan Statistical Area)',
       'Anchorage, AK (Metropolitan Statistical Area)',
       'Ann Arbor, MI (Metropolitan Statistical Area)',
       'Anniston-Oxford-Jacksonville, AL (Metropolitan Statistical Area)',
       'Appleton, WI (Metropolitan Statistical Area)',
       'Asheville, NC (Metropolitan Statistical Area)',
       'Athens-Clarke County, GA (Metropolitan Statistical Area)',
       'Atlanta-Sandy Springs-Roswell, GA (Metropolitan Statistical Area)',
       'Atlantic City-Hammonton, NJ (Metropolitan Statistical Area)',
       'Auburn-Opelika, AL (Metropolitan Statistical Area)',
       'Augusta-Richmond County, GA-SC (Metropolitan Statistical Area)',
       'Austin-Round Rock, TX (Metropolitan Statistical Area)',
       'Bakersfield, CA (Metropolitan Statistical Area)',
       'Baltimore-Columbia-Towson, MD (Metropolitan Statistical Area)',
       'Bangor, ME (Metropolitan Statistical Area)',
       'Barnstable Town, MA (Metropolitan Statistical Area)',
       'Baton Rouge, LA (Metropolitan Statistical Area)',
       'Battle Creek, MI (Metropolitan Statistical Area)',
       'Bay City, MI (Metropolitan Statistical Area)',
       'Beaumont-Port Arthur, TX (Metropolitan Statistical Area)',
       'Beckley, WV (Metropolitan Statistical Area)',
       'Bellingham, WA (Metropolitan Statistical Area)',
       'Bend-Redmond, OR (Metropolitan Statistical Area)',
       'Billings, MT (Metropolitan Statistical Area)',
       'Binghamton, NY (Metropolitan Statistical Area)',
       'Birmingham-Hoover, AL (Metropolitan Statistical Area)',
       'Bismarck, ND (Metropolitan Statistical Area)',
       'Blacksburg-Christiansburg-Radford, VA (Metropolitan Statistical Area)',
       'Bloomington, IL (Metropolitan Statistical Area)',
       'Bloomington, IN (Metropolitan Statistical Area)',
       'Bloomsburg-Berwick, PA (Metropolitan Statistical Area)',
       'Boise City, ID (Metropolitan Statistical Area)',
       'Boston-Cambridge-Newton, MA-NH (Metropolitan Statistical Area)',
       'Boulder, CO (Metropolitan Statistical Area)',
       'Bowling Green, KY (Metropolitan Statistical Area)',
       'Bremerton-Silverdale, WA (Metropolitan Statistical Area)',
       'Bridgeport-Stamford-Norwalk, CT (Metropolitan Statistical Area)',
       'Brownsville-Harlingen, TX (Metropolitan Statistical Area)',
       'Brunswick, GA (Metropolitan Statistical Area)',
       'Buffalo-Cheektowaga-Niagara Falls, NY (Metropolitan Statistical Area)',
       'Burlington, NC (Metropolitan Statistical Area)',
       'Burlington-South Burlington, VT (Metropolitan Statistical Area)',
       'California-Lexington Park, MD (Metropolitan Statistical Area)',
       'Canton-Massillon, OH (Metropolitan Statistical Area)',
       'Cape Coral-Fort Myers, FL (Metropolitan Statistical Area)',
       'Cape Girardeau, MO-IL (Metropolitan Statistical Area)',
       'Carbondale-Marion, IL (Metropolitan Statistical Area)',
       'Carson City, NV (Metropolitan Statistical Area)',
       'Casper, WY (Metropolitan Statistical Area)',
       'Cedar Rapids, IA (Metropolitan Statistical Area)',
       'Chambersburg-Waynesboro, PA (Metropolitan Statistical Area)',
       'Champaign-Urbana, IL (Metropolitan Statistical Area)',
       'Charleston, WV (Metropolitan Statistical Area)',
       'Charleston-North Charleston, SC (Metropolitan Statistical Area)',
       'Charlotte-Concord-Gastonia, NC-SC (Metropolitan Statistical Area)',
       'Charlottesville, VA (Metropolitan Statistical Area)',
       'Chattanooga, TN-GA (Metropolitan Statistical Area)',
       'Cheyenne, WY (Metropolitan Statistical Area)',
       'Chicago-Naperville-Elgin, IL-IN-WI (Metropolitan Statistical Area)',
       'Chico, CA (Metropolitan Statistical Area)',
       'Cincinnati, OH-KY-IN (Metropolitan Statistical Area)',
       'Clarksville, TN-KY (Metropolitan Statistical Area)',
       'Cleveland, TN (Metropolitan Statistical Area)',
       'Cleveland-Elyria, OH (Metropolitan Statistical Area)',
       "Coeur d'Alene, ID (Metropolitan Statistical Area)",
       'College Station-Bryan, TX (Metropolitan Statistical Area)',
       'Colorado Springs, CO (Metropolitan Statistical Area)',
       'Columbia, MO (Metropolitan Statistical Area)',
       'Columbia, SC (Metropolitan Statistical Area)',
       'Columbus, GA-AL (Metropolitan Statistical Area)',
       'Columbus, IN (Metropolitan Statistical Area)',
       'Columbus, OH (Metropolitan Statistical Area)',
       'Corpus Christi, TX (Metropolitan Statistical Area)',
       'Corvallis, OR (Metropolitan Statistical Area)',
       'Crestview-Fort Walton Beach-Destin, FL (Metropolitan Statistical Area)',
       'Cumberland, MD-WV (Metropolitan Statistical Area)',
       'Dallas-Fort Worth-Arlington, TX (Metropolitan Statistical Area)',
       'Dalton, GA (Metropolitan Statistical Area)',
       'Danville, IL (Metropolitan Statistical Area)',
       'Daphne-Fairhope-Foley, AL (Metropolitan Statistical Area)',
       'Davenport-Moline-Rock Island, IA-IL (Metropolitan Statistical Area)',
       'Dayton, OH (Metropolitan Statistical Area)',
       'Decatur, AL (Metropolitan Statistical Area)',
       'Decatur, IL (Metropolitan Statistical Area)',
       'Deltona-Daytona Beach-Ormond Beach, FL (Metropolitan Statistical Area)',
       'Denver-Aurora-Lakewood, CO (Metropolitan Statistical Area)',
       'Des Moines-West Des Moines, IA (Metropolitan Statistical Area)',
       'Detroit-Warren-Dearborn, MI (Metropolitan Statistical Area)',
       'Dothan, AL (Metropolitan Statistical Area)',
       'Dover, DE (Metropolitan Statistical Area)',
       'Dubuque, IA (Metropolitan Statistical Area)',
       'Duluth, MN-WI (Metropolitan Statistical Area)',
       'Durham-Chapel Hill, NC (Metropolitan Statistical Area)',
       'East Stroudsburg, PA (Metropolitan Statistical Area)',
       'Eau Claire, WI (Metropolitan Statistical Area)',
       'El Centro, CA (Metropolitan Statistical Area)',
       'Elizabethtown-Fort Knox, KY (Metropolitan Statistical Area)',
       'Elkhart-Goshen, IN (Metropolitan Statistical Area)',
       'Elmira, NY (Metropolitan Statistical Area)',
       'El Paso, TX (Metropolitan Statistical Area)',
       'Enid, OK (Metropolitan Statistical Area)',
       'Erie, PA (Metropolitan Statistical Area)',
       'Eugene, OR (Metropolitan Statistical Area)',
       'Evansville, IN-KY (Metropolitan Statistical Area)',
       'Fairbanks, AK (Metropolitan Statistical Area)',
       'Fargo, ND-MN (Metropolitan Statistical Area)',
       'Farmington, NM (Metropolitan Statistical Area)',
       'Fayetteville, NC (Metropolitan Statistical Area)',
       'Fayetteville-Springdale-Rogers, AR-MO (Metropolitan Statistical Area)',
       'Flagstaff, AZ (Metropolitan Statistical Area)',
       'Flint, MI (Metropolitan Statistical Area)',
       'Florence, SC (Metropolitan Statistical Area)',
       'Florence-Muscle Shoals, AL (Metropolitan Statistical Area)',
       'Fond du Lac, WI (Metropolitan Statistical Area)',
       'Fort Collins, CO (Metropolitan Statistical Area)',
       'Fort Smith, AR-OK (Metropolitan Statistical Area)',
       'Fort Wayne, IN (Metropolitan Statistical Area)',
       'Fresno, CA (Metropolitan Statistical Area)',
       'Gadsden, AL (Metropolitan Statistical Area)',
       'Gainesville, FL (Metropolitan Statistical Area)',
       'Gainesville, GA (Metropolitan Statistical Area)',
       'Gettysburg, PA (Metropolitan Statistical Area)',
       'Glens Falls, NY (Metropolitan Statistical Area)',
       'Goldsboro, NC (Metropolitan Statistical Area)',
       'Grand Forks, ND-MN (Metropolitan Statistical Area)',
       'Grand Island, NE (Metropolitan Statistical Area)',
       'Grand Junction, CO (Metropolitan Statistical Area)',
       'Grand Rapids-Wyoming, MI (Metropolitan Statistical Area)',
       'Grants Pass, OR (Metropolitan Statistical Area)',
       'Great Falls, MT (Metropolitan Statistical Area)',
       'Greeley, CO (Metropolitan Statistical Area)',
       'Green Bay, WI (Metropolitan Statistical Area)',
       'Greensboro-High Point, NC (Metropolitan Statistical Area)',
       'Greenville, NC (Metropolitan Statistical Area)',
       'Greenville-Anderson-Mauldin, SC (Metropolitan Statistical Area)',
       'Gulfport-Biloxi-Pascagoula, MS (Metropolitan Statistical Area)',
       'Hagerstown-Martinsburg, MD-WV (Metropolitan Statistical Area)',
       'Hammond, LA (Metropolitan Statistical Area)',
       'Hanford-Corcoran, CA (Metropolitan Statistical Area)',
       'Harrisburg-Carlisle, PA (Metropolitan Statistical Area)',
       'Harrisonburg, VA (Metropolitan Statistical Area)',
       'Hartford-West Hartford-East Hartford, CT (Metropolitan Statistical Area)',
       'Hattiesburg, MS (Metropolitan Statistical Area)',
       'Hickory-Lenoir-Morganton, NC (Metropolitan Statistical Area)',
       'Hilton Head Island-Bluffton-Beaufort, SC (Metropolitan Statistical Area)',
       'Hinesville, GA (Metropolitan Statistical Area)',
       'Homosassa Springs, FL (Metropolitan Statistical Area)',
       'Hot Springs, AR (Metropolitan Statistical Area)',
       'Houma-Thibodaux, LA (Metropolitan Statistical Area)',
       'Houston-The Woodlands-Sugar Land, TX (Metropolitan Statistical Area)',
       'Huntington-Ashland, WV-KY-OH (Metropolitan Statistical Area)',
       'Huntsville, AL (Metropolitan Statistical Area)',
       'Idaho Falls, ID (Metropolitan Statistical Area)',
       'Indianapolis-Carmel-Anderson, IN (Metropolitan Statistical Area)',
       'Iowa City, IA (Metropolitan Statistical Area)',
       'Ithaca, NY (Metropolitan Statistical Area)',
       'Jackson, MI (Metropolitan Statistical Area)',
       'Jackson, MS (Metropolitan Statistical Area)',
       'Jackson, TN (Metropolitan Statistical Area)',
       'Jacksonville, FL (Metropolitan Statistical Area)',
       'Jacksonville, NC (Metropolitan Statistical Area)',
       'Janesville-Beloit, WI (Metropolitan Statistical Area)',
       'Jefferson City, MO (Metropolitan Statistical Area)',
       'Johnson City, TN (Metropolitan Statistical Area)',
       'Johnstown, PA (Metropolitan Statistical Area)',
       'Jonesboro, AR (Metropolitan Statistical Area)',
       'Joplin, MO (Metropolitan Statistical Area)',
       'Kahului-Wailuku-Lahaina, HI (Metropolitan Statistical Area)',
       'Kalamazoo-Portage, MI (Metropolitan Statistical Area)',
       'Kankakee, IL (Metropolitan Statistical Area)',
       'Kansas City, MO-KS (Metropolitan Statistical Area)',
       'Kennewick-Richland, WA (Metropolitan Statistical Area)',
       'Killeen-Temple, TX (Metropolitan Statistical Area)',
       'Kingsport-Bristol-Bristol, TN-VA (Metropolitan Statistical Area)',
       'Kingston, NY (Metropolitan Statistical Area)',
       'Knoxville, TN (Metropolitan Statistical Area)',
       'Kokomo, IN (Metropolitan Statistical Area)',
       'La Crosse-Onalaska, WI-MN (Metropolitan Statistical Area)',
       'Lafayette, LA (Metropolitan Statistical Area)',
       'Lafayette-West Lafayette, IN (Metropolitan Statistical Area)',
       'Lake Charles, LA (Metropolitan Statistical Area)',
       'Lake Havasu City-Kingman, AZ (Metropolitan Statistical Area)',
       'Lakeland-Winter Haven, FL (Metropolitan Statistical Area)',
       'Lancaster, PA (Metropolitan Statistical Area)',
       'Lansing-East Lansing, MI (Metropolitan Statistical Area)',
       'Laredo, TX (Metropolitan Statistical Area)',
       'Las Cruces, NM (Metropolitan Statistical Area)',
       'Las Vegas-Henderson-Paradise, NV (Metropolitan Statistical Area)',
       'Lawrence, KS (Metropolitan Statistical Area)',
       'Lawton, OK (Metropolitan Statistical Area)',
       'Lebanon, PA (Metropolitan Statistical Area)',
       'Lewiston, ID-WA (Metropolitan Statistical Area)',
       'Lewiston-Auburn, ME (Metropolitan Statistical Area)',
       'Lexington-Fayette, KY (Metropolitan Statistical Area)',
       'Lima, OH (Metropolitan Statistical Area)',
       'Lincoln, NE (Metropolitan Statistical Area)',
       'Little Rock-North Little Rock-Conway, AR (Metropolitan Statistical Area)',
       'Logan, UT-ID (Metropolitan Statistical Area)',
       'Longview, TX (Metropolitan Statistical Area)',
       'Longview, WA (Metropolitan Statistical Area)',
       'Los Angeles-Long Beach-Anaheim, CA (Metropolitan Statistical Area)',
       'Louisville/Jefferson County, KY-IN (Metropolitan Statistical Area)',
       'Lubbock, TX (Metropolitan Statistical Area)',
       'Lynchburg, VA (Metropolitan Statistical Area)',
       'Macon-Bibb County, GA (Metropolitan Statistical Area)',
       'Madera, CA (Metropolitan Statistical Area)',
       'Madison, WI (Metropolitan Statistical Area)',
       'Manchester-Nashua, NH (Metropolitan Statistical Area)',
       'Manhattan, KS (Metropolitan Statistical Area)',
       'Mankato-North Mankato, MN (Metropolitan Statistical Area)',
       'Mansfield, OH (Metropolitan Statistical Area)',
       'McAllen-Edinburg-Mission, TX (Metropolitan Statistical Area)',
       'Medford, OR (Metropolitan Statistical Area)',
       'Memphis, TN-MS-AR (Metropolitan Statistical Area)',
       'Merced, CA (Metropolitan Statistical Area)',
       'Miami-Fort Lauderdale-West Palm Beach, FL (Metropolitan Statistical Area)',
       'Michigan City-La Porte, IN (Metropolitan Statistical Area)',
       'Midland, MI (Metropolitan Statistical Area)',
       'Midland, TX (Metropolitan Statistical Area)',
       'Milwaukee-Waukesha-West Allis, WI (Metropolitan Statistical Area)',
       'Minneapolis-St. Paul-Bloomington, MN-WI (Metropolitan Statistical Area)',
       'Missoula, MT (Metropolitan Statistical Area)',
       'Mobile, AL (Metropolitan Statistical Area)',
       'Modesto, CA (Metropolitan Statistical Area)',
       'Monroe, LA (Metropolitan Statistical Area)',
       'Monroe, MI (Metropolitan Statistical Area)',
       'Montgomery, AL (Metropolitan Statistical Area)',
       'Morgantown, WV (Metropolitan Statistical Area)',
       'Morristown, TN (Metropolitan Statistical Area)',
       'Mount Vernon-Anacortes, WA (Metropolitan Statistical Area)',
       'Muncie, IN (Metropolitan Statistical Area)',
       'Muskegon, MI (Metropolitan Statistical Area)',
       'Myrtle Beach-Conway-North Myrtle Beach, SC-NC (Metropolitan Statistical Area)',
       'Napa, CA (Metropolitan Statistical Area)',
       'Naples-Immokalee-Marco Island, FL (Metropolitan Statistical Area)',
       'Nashville-Davidson--Murfreesboro--Franklin, TN (Metropolitan Statistical Area)',
       'New Bern, NC (Metropolitan Statistical Area)',
       'New Haven-Milford, CT (Metropolitan Statistical Area)',
       'New Orleans-Metairie, LA (Metropolitan Statistical Area)',
       'New York-Newark-Jersey City, NY-NJ-PA (Metropolitan Statistical Area)',
       'Niles-Benton Harbor, MI (Metropolitan Statistical Area)',
       'North Port-Sarasota-Bradenton, FL (Metropolitan Statistical Area)',
       'Norwich-New London, CT (Metropolitan Statistical Area)',
       'Ocala, FL (Metropolitan Statistical Area)',
       'Ocean City, NJ (Metropolitan Statistical Area)',
       'Odessa, TX (Metropolitan Statistical Area)',
       'Ogden-Clearfield, UT (Metropolitan Statistical Area)',
       'Oklahoma City, OK (Metropolitan Statistical Area)',
       'Olympia-Tumwater, WA (Metropolitan Statistical Area)',
       'Omaha-Council Bluffs, NE-IA (Metropolitan Statistical Area)',
       'Orlando-Kissimmee-Sanford, FL (Metropolitan Statistical Area)',
       'Oshkosh-Neenah, WI (Metropolitan Statistical Area)',
       'Owensboro, KY (Metropolitan Statistical Area)',
       'Oxnard-Thousand Oaks-Ventura, CA (Metropolitan Statistical Area)',
       'Palm Bay-Melbourne-Titusville, FL (Metropolitan Statistical Area)',
       'Panama City, FL (Metropolitan Statistical Area)',
       'Parkersburg-Vienna, WV (Metropolitan Statistical Area)',
       'Pensacola-Ferry Pass-Brent, FL (Metropolitan Statistical Area)',
       'Peoria, IL (Metropolitan Statistical Area)',
       'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD (Metropolitan Statistical Area)',
       'Phoenix-Mesa-Scottsdale, AZ (Metropolitan Statistical Area)',
       'Pine Bluff, AR (Metropolitan Statistical Area)',
       'Pittsburgh, PA (Metropolitan Statistical Area)',
       'Pittsfield, MA (Metropolitan Statistical Area)',
       'Pocatello, ID (Metropolitan Statistical Area)',
       'Portland-South Portland, ME (Metropolitan Statistical Area)',
       'Portland-Vancouver-Hillsboro, OR-WA (Metropolitan Statistical Area)',
       'Port St. Lucie, FL (Metropolitan Statistical Area)',
       'Prescott, AZ (Metropolitan Statistical Area)',
       'Providence-Warwick, RI-MA (Metropolitan Statistical Area)',
       'Provo-Orem, UT (Metropolitan Statistical Area)',
       'Pueblo, CO (Metropolitan Statistical Area)',
       'Punta Gorda, FL (Metropolitan Statistical Area)',
       'Racine, WI (Metropolitan Statistical Area)',
       'Raleigh, NC (Metropolitan Statistical Area)',
       'Rapid City, SD (Metropolitan Statistical Area)',
       'Reading, PA (Metropolitan Statistical Area)',
       'Redding, CA (Metropolitan Statistical Area)',
       'Reno, NV (Metropolitan Statistical Area)',
       'Richmond, VA (Metropolitan Statistical Area)',
       'Riverside-San Bernardino-Ontario, CA (Metropolitan Statistical Area)',
       'Roanoke, VA (Metropolitan Statistical Area)',
       'Rochester, MN (Metropolitan Statistical Area)',
       'Rochester, NY (Metropolitan Statistical Area)',
       'Rockford, IL (Metropolitan Statistical Area)',
       'Rocky Mount, NC (Metropolitan Statistical Area)',
       'Rome, GA (Metropolitan Statistical Area)',
       'Sacramento--Roseville--Arden-Arcade, CA (Metropolitan Statistical Area)',
       'Saginaw, MI (Metropolitan Statistical Area)',
       'St. Cloud, MN (Metropolitan Statistical Area)',
       'St. George, UT (Metropolitan Statistical Area)',
       'St. Joseph, MO-KS (Metropolitan Statistical Area)',
       'St. Louis, MO-IL (Metropolitan Statistical Area)',
       'Salem, OR (Metropolitan Statistical Area)',
       'Salinas, CA (Metropolitan Statistical Area)',
       'Salisbury, MD-DE (Metropolitan Statistical Area)',
       'Salt Lake City, UT (Metropolitan Statistical Area)',
       'San Angelo, TX (Metropolitan Statistical Area)',
       'San Antonio-New Braunfels, TX (Metropolitan Statistical Area)',
       'San Diego-Carlsbad, CA (Metropolitan Statistical Area)',
       'San Francisco-Oakland-Hayward, CA (Metropolitan Statistical Area)',
       'San Jose-Sunnyvale-Santa Clara, CA (Metropolitan Statistical Area)',
       'San Luis Obispo-Paso Robles-Arroyo Grande, CA (Metropolitan Statistical Area)',
       'Santa Cruz-Watsonville, CA (Metropolitan Statistical Area)',
       'Santa Fe, NM (Metropolitan Statistical Area)',
       'Santa Maria-Santa Barbara, CA (Metropolitan Statistical Area)',
       'Santa Rosa, CA (Metropolitan Statistical Area)',
       'Savannah, GA (Metropolitan Statistical Area)',
       'Scranton--Wilkes-Barre--Hazleton, PA (Metropolitan Statistical Area)',
       'Seattle-Tacoma-Bellevue, WA (Metropolitan Statistical Area)',
       'Sebastian-Vero Beach, FL (Metropolitan Statistical Area)',
       'Sebring, FL (Metropolitan Statistical Area)',
       'Sheboygan, WI (Metropolitan Statistical Area)',

In [38]:
LA_MSA = 'Los Angeles-Long Beach-Anaheim, CA (Metropolitan Statistical Area)'
SF_MSA = 'San Francisco-Oakland-Hayward, CA (Metropolitan Statistical Area)'
NY_MSA = 'New York-Newark-Jersey City, NY-NJ-PA (Metropolitan Statistical Area)'

df_gdp = df_gdp[df_gdp.Description == 'All industry total']
df_gdp.columns

Index(['GeoFIPS', 'GeoName', 'Region', 'TableName', 'ComponentName', 'Unit',
       'IndustryId', 'IndustryClassification', 'Description', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017'],
      dtype='object')

In [39]:
select_columns = ['GeoName', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017']
df_gdp = df_gdp[select_columns]
df_gdp.shape

(384, 11)

In [40]:
df_gdp = df_gdp[df_gdp.GeoName.isin([LA_MSA, SF_MSA, NY_MSA])]
df_gdp.head()

,GeoName,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
18357,"Los Angeles-Long Beach-Anaheim, CA (Metropolit...",772747.1,741630.0,763975.9,782565.1,820862.6,852034.2,901979.9,967100.1,996431.8,1043735.1
21750,"New York-Newark-Jersey City, NY-NJ-PA (Metropo...",1257147.7,1276469.8,1338450.7,1363858.9,1439232.6,1477043.4,1542763.2,1618365.7,1662671.3,1717712.2
27057,"San Francisco-Oakland-Hayward, CA (Metropolita...",353338.8,331326.0,330153.6,340757.4,366151.4,385451.5,413026.5,445123.5,475416.6,500710.1

In [41]:
import numpy as np
conditions3 = [(df_gdp['GeoName'] == LA_MSA), 
              (df_gdp['GeoName'] == SF_MSA), 
              (df_gdp['GeoName'] == NY_MSA)]


choices = ['LA_MSA', 'SF_MSA', 'NY_MSA']
df_gdp['MSA'] =  np.select(conditions3, choices)
df_gdp.drop('GeoName', axis = 1, inplace = True)

df_gdp

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,MSA
18357,772747.1,741630.0,763975.9,782565.1,820862.6,852034.2,901979.9,967100.1,996431.8,1043735.1,LA_MSA
21750,1257147.7,1276469.8,1338450.7,1363858.9,1439232.6,1477043.4,1542763.2,1618365.7,1662671.3,1717712.2,NY_MSA
27057,353338.8,331326.0,330153.6,340757.4,366151.4,385451.5,413026.5,445123.5,475416.6,500710.1,SF_MSA

In [42]:
df_GDP= df_gdp

In [43]:
df_GDP = df_GDP.melt(id_vars=['MSA'], 
        var_name="Year", 
        value_name="GDP_mn$")
df_GDP['Year']=df_GDP['Year'].astype(int)
df_GDP['GDP_mn$']=df_GDP['GDP_mn$'].astype(float)
df_GDP.set_index(['MSA', 'Year'], inplace = True, drop = True)
df_GDP.head()

               GDP_mn$
MSA    Year
LA_MSA 2008   772747.1
NY_MSA 2008  1257147.7
SF_MSA 2008   353338.8
LA_MSA 2009   741630.0
NY_MSA 2009  1276469.8

In [44]:
df_GDP.shape, df_Airtraffic.shape, dfp.shape, dfi.shape, df_AirQuality.shape

((30, 1), (33, 1), (30, 1), (30, 1), (33, 4))

In [45]:
list_df = [df_GDP, dfi, dfp,  df_Airtraffic,df_AirQuality]
df_final = df_GDP
for frame in list_df[1:]:
    df_final = pd.merge(df_final, frame, left_index = True, right_index = True, how = 'outer')
df_final.head()

              GDP_mn$  Per Capita Income  Population  Passengers  % Good Days  \
MSA    Year
LA_MSA 2008  772747.1            46729.5  12692740.0  36273289.0    35.974499
       2009  741630.0            44341.0  12774577.0  34179598.0    39.726027
       2010  763975.9            46654.5  12841606.0  35475341.0    38.492019
       2011  782565.1            48954.0  12939463.0  37011731.0    36.255708
       2012  820862.6            52377.5  13041538.0  37790767.0    42.531876

             90th Percentile AQI   Good Days  Median AQI
MSA    Year
LA_MSA 2008           115.666667  131.666667   63.333333
       2009           103.333333  145.000000   58.333333
       2010            96.333333  140.000000   57.333333
       2011           100.000000  132.333333   59.000000
       2012            97.666667  155.666667   58.000000

In [46]:
df_final.reset_index(inplace = True)

In [47]:
df_final

,MSA,Year,GDP_mn$,Per Capita Income,Population,Passengers,% Good Days,90th Percentile AQI,Good Days,Median AQI
0,LA_MSA,2008,772747.1,46729.5,12692740.0,36273289.0,35.974499,115.666667,131.666667,63.333333
1,LA_MSA,2009,741630.0,44341.0,12774577.0,34179598.0,39.726027,103.333333,145.000000,58.333333
2,LA_MSA,2010,763975.9,46654.5,12841606.0,35475341.0,38.492019,96.333333,140.000000,57.333333
3,LA_MSA,2011,782565.1,48954.0,12939463.0,37011731.0,36.255708,100.000000,132.333333,59.000000
4,LA_MSA,2012,820862.6,52377.5,13041538.0,37790767.0,42.531876,97.666667,155.666667,58.000000
5,LA_MSA,2013,852034.2,51802.0,13132253.0,38908822.0,44.200913,88.666667,161.333333,54.666667
6,LA_MSA,2014,901979.9,54620.0,13209445.0,40931688.0,39.178082,93.666667,143.000000,58.666667
7,LA_MSA,2015,967100.1,58272.0,13283824.0,43464589.0,42.009132,98.000000,153.333333,57.000000
8,LA_MSA,2016,996431.8,59807.0,13328261.0,46920468.0,46.539162,90.666667,170.333333,55.000000
9,LA_MSA,2017,1043735.1,61909.5,13353907.0,48525247.0,47.397260,100.333333,173.000000,55.000000
10,LA_MSA,2018,NaN,NaN,NaN,50363107.0,50.776256,89.333333,185.333333,53.666667
11,NY_MSA,2008,1257147.7,48880.5,15996074.0,52866278.0,60.864874,78.473684,222.052632,46.000000
12,NY_MSA,2009,1276469.8,47343.0,16104088.0,50476621.0,70.823681,67.500000,251.150000,41.800000
13,NY_MSA,2010,1338450.7,48082.0,16212558.0,51424463.0,67.319602,78.600000,245.300000,42.750000
14,NY_MSA,2011,1363858.9,50679.0,16355800.0,52355837.0,68.949738,69.050000,243.450000,43.900000
15,NY_MSA,2012,1439232.6,52804.0,16475246.0,54229063.0,72.051090,69.200000,252.100000,41.050000
16,NY_MSA,2013,1477043.4,51917.5,16583177.0,55995808.0,74.864617,63.850000,264.750000,40.850000
17,NY_MSA,2014,1542763.2,53590.5,16671950.0,57497612.0,77.229775,61.350000,273.700000,40.650000
18,NY_MSA,2015,1618365.7,55441.0,16753198.0,60916294.0,73.134477,66.850000,259.500000,41.150000
19,NY_MSA,2016,1662671.3,56896.0,16803156.0,63798888.0,76.809353,63.250000,274.300000,39.900000
20,NY_MSA,2017,1717712.2,59408.0,16838928.0,65634288.0,79.821185,59.500000,284.600000,38.950000
21,NY_MSA,2018,NaN,NaN,NaN,68431481.0,77.875964,61.700000,276.900000,38.650000
22,SF_MSA,2008,353338.8,75468.0,4243932.0,28479144.0,69.151843,68.400000,252.400000,41.600000
23,SF_MSA,2009,331326.0,71694.0,4302830.0,27161820.0,68.378443,67.400000,249.400000,41.600000
24,SF_MSA,2010,330153.6,73739.0,4344810.0,28032599.0,74.962709,62.600000,272.800000,39.200000
25,SF_MSA,2011,340757.4,79872.0,4399218.0,28661968.0,72.865272,66.400000,265.800000,40.200000
26,SF_MSA,2012,366151.4,87986.0,4463172.0,30250725.0,80.220244,59.400000,292.800000,37.400000
27,SF_MSA,2013,385451.5,87501.0,4528717.0,30735736.0,63.873702,68.200000,233.000000,42.400000
28,SF_MSA,2014,413026.5,93672.0,4595964.0,32411808.0,75.006774,60.800000,273.600000,39.800000
29,SF_MSA,2015,445123.5,102516.0,4657985.0,34533303.0,75.817853,62.200000,276.400000,38.600000
30,SF_MSA,2016,475416.6,106615.0,4699077.0,36917676.0,80.802006,57.600000,295.400000,37.800000
31,SF_MSA,2017,500710.1,113410.0,4727357.0,39404268.0,69.643836,65.200000,254.200000,41.600000
32,SF_MSA,2018,NaN,NaN,NaN,41493480.0,68.219178,64.400000,249.000000,41.600000

# Creating SQLite database table using SQLAlchemy

In [48]:
import sqlalchemy
from sqlalchemy import create_engine
# from sqlalchemy.orm import relationship
# from sqlalchemy.ext.declarative import declarative_base
# from sqlalchemy import Column, Integer, String, Float, ForeignKey, DateTime, Boolean, Numeric
# from sqlalchemy.orm import relationship, backref
# from sqlalchemy.orm import sessionmaker

In [49]:
#Creating a sqllite database 'database.db' in current directory
engine = create_engine('sqlite:///database.db', echo=False)

#engine = create_engine('sqlite://', echo=False)  # to use for in memory database

In [51]:
engine.execute('DROP TABLE IF EXISTS plotting_data;')  # Drop existing table before creating new table

# writing pandas dataframe directly to sqllite table 'plotting_data'
df_final.to_sql('plotting_data', con = engine, index = False)

In [52]:
# run a SQL query
engine.execute('SELECT * FROM plotting_data').fetchall()

[('LA_MSA', 2008, 772747.1, 46729.5, 12692740.0, 36273289.0, 35.97449908925319, 115.66666666666667, 131.66666666666666, 63.333333333333336),
 ('LA_MSA', 2009, 741630.0, 44341.0, 12774577.0, 34179598.0, 39.726027397260275, 103.33333333333333, 145.0, 58.333333333333336),
 ('LA_MSA', 2010, 763975.9, 46654.5, 12841606.0, 35475341.0, 38.492018566738366, 96.33333333333333, 140.0, 57.333333333333336),
 ('LA_MSA', 2011, 782565.1, 48954.0, 12939463.0, 37011731.0, 36.25570776255708, 100.0, 132.33333333333334, 59.0),
 ('LA_MSA', 2012, 820862.6, 52377.5, 13041538.0, 37790767.0, 42.53187613843352, 97.66666666666667, 155.66666666666666, 58.0),
 ('LA_MSA', 2013, 852034.2, 51802.0, 13132253.0, 38908822.0, 44.20091324200913, 88.66666666666667, 161.33333333333334, 54.666666666666664),
 ('LA_MSA', 2014, 901979.9, 54620.0, 13209445.0, 40931688.0, 39.178082191780824, 93.66666666666667, 143.0, 58.666666666666664),
 ('LA_MSA', 2015, 967100.1, 58272.0, 13283824.0, 43464589.0, 42.009132420091326, 98.0, 153.33333333333334, 57.0),
 ('LA_MSA', 2016, 996431.8, 59807.0, 13328261.0, 46920468.0, 46.53916211293261, 90.66666666666667, 170.33333333333334, 55.0),
 ('LA_MSA', 2017, 1043735.1, 61909.5, 13353907.0, 48525247.0, 47.3972602739726, 100.33333333333333, 173.0, 55.0),
 ('LA_MSA', 2018, None, None, None, 50363107.0, 50.77625570776255, 89.33333333333333, 185.33333333333334, 53.666666666666664),
 ('NY_MSA', 2008, 1257147.7, 48880.5, 15996074.0, 52866278.0, 60.864873757221424, 78.47368421052632, 222.05263157894737, 46.0),
 ('NY_MSA', 2009, 1276469.8, 47343.0, 16104088.0, 50476621.0, 70.82368086158485, 67.5, 251.15, 41.8),
 ('NY_MSA', 2010, 1338450.7, 48082.0, 16212558.0, 51424463.0, 67.31960222988285, 78.6, 245.3, 42.75),
 ('NY_MSA', 2011, 1363858.9, 50679.0, 16355800.0, 52355837.0, 68.94973831061847, 69.05, 243.45, 43.9),
 ('NY_MSA', 2012, 1439232.6, 52804.0, 16475246.0, 54229063.0, 72.05108981167704, 69.2, 252.1, 41.05),
 ('NY_MSA', 2013, 1477043.4, 51917.5, 16583177.0, 55995808.0, 74.86461671578047, 63.85, 264.75, 40.85),
 ('NY_MSA', 2014, 1542763.2, 53590.5, 16671950.0, 57497612.0, 77.22977517542752, 61.35, 273.7, 40.65),
 ('NY_MSA', 2015, 1618365.7, 55441.0, 16753198.0, 60916294.0, 73.13447709425053, 66.85, 259.5, 41.15),
 ('NY_MSA', 2016, 1662671.3, 56896.0, 16803156.0, 63798888.0, 76.80935315608318, 63.25, 274.3, 39.9),
 ('NY_MSA', 2017, 1717712.2, 59408.0, 16838928.0, 65634288.0, 79.82118458974385, 59.5, 284.6, 38.95),
 ('NY_MSA', 2018, None, None, None, 68431481.0, 77.87596383068751, 61.7, 276.9, 38.65),
 ('SF_MSA', 2008, 353338.8, 75468.0, 4243932.0, 28479144.0, 69.15184303274049, 68.4, 252.4, 41.6),
 ('SF_MSA', 2009, 331326.0, 71694.0, 4302830.0, 27161820.0, 68.37844347433388, 67.4, 249.4, 41.6),
 ('SF_MSA', 2010, 330153.6, 73739.0, 4344810.0, 28032599.0, 74.9627092846271, 62.6, 272.8, 39.2),
 ('SF_MSA', 2011, 340757.4, 79872.0, 4399218.0, 28661968.0, 72.86527171458678, 66.4, 265.8, 40.2),
 ('SF_MSA', 2012, 366151.4, 87986.0, 4463172.0, 30250725.0, 80.22024431224739, 59.4, 292.8, 37.4),
 ('SF_MSA', 2013, 385451.5, 87501.0, 4528717.0, 30735736.0, 63.873701640824926, 68.2, 233.0, 42.4),
 ('SF_MSA', 2014, 413026.5, 93672.0, 4595964.0, 32411808.0, 75.00677404786994, 60.8, 273.6, 39.8),
 ('SF_MSA', 2015, 445123.5, 102516.0, 4657985.0, 34533303.0, 75.81785337949721, 62.2, 276.4, 38.6),
 ('SF_MSA', 2016, 475416.6, 106615.0, 4699077.0, 36917676.0, 80.802006138184, 57.6, 295.4, 37.8),
 ('SF_MSA', 2017, 500710.1, 113410.0, 4727357.0, 39404268.0, 69.64383561643835, 65.2, 254.2, 41.6),
 ('SF_MSA', 2018, None, None, None, 41493480.0, 68.21917808219177, 64.4, 249.0, 41.6)]